<!-- dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="dashboard-container">
        <h2>Welcome to your Dashboard, {{ session['username'] }}!</h2>
        <button onclick="location.href='{{ url_for('account') }}'">Go to Account</button>
        <button onclick="location.href='{{ url_for('upload_file') }}'">Upload File</button>
        <a href="{{ url_for('file_table') }}"><button>View Uploaded Files</button></a>
        <a href="{{ url_for('about') }}" class="about">about me :)</a>
        <a href="{{ url_for('login') }}" class="log-out">log out</a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
